= render '/themes/display', locals: @products
.row-fluid 
  .span12.animation
    = image_tag 'big_red_cup.png', class: 'big_cup'
    - product = Product.order("rand()").first
    = product = link_to(image_tag(product.product_photos.first.photo(:medium), class: 'surprise_image'), product)


