- content_for :title do
  -'Browsing'

.row-fluid
  .span3
    = render 'side_nav'
  .span9
    %h1.text-center= @products.any? ? @products.first.category.name : '' 
    = render '/products/display', locals: @products
    = render 'pagination'