$white : #aaa;
$grey: #909090;
$purple: #c2159f;
$darkGray: #4d4c4d;
$yellow: #fff799;
$black: #1d1d1d;

.big_cup {
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
  cursor: pointer;
}
.image_border {
  display: inline-block;
}
.active {
  .big_cup {
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg); /* Safari */
  }

  .surprise_image {

    transform:rotate(1080deg);
    -webkit-transform:rotate(1080deg); /* Safari */
    width: 230px;
    height: 230px;
    margin-left: 30%;
  }
}

.surprise_image{
  border-radius: 50%;
  width: 0;
  height: 0;
  -moz-transition: all 3s ease;
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.margin-bottom{
  margin-bottom: 10px;
}

.drag_target {
  min-height: 300px;
  padding: 10px;
  background-color: #4d4c4d;
  color: white;
}

.draggable {
  padding: 10px;
  
  &:hover {
    cursor: pointer
  }
}
.theme {
  padding: 0 10px 10px;
  text-align: center;
  height: 100%;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  h4 {
    background-color: $purple;
    color: $black;
    padding: 5px;
    border-radius: 2px;
    font-family: Orator;
    span {
      color: $yellow;
    }
  }
}
