.thumbs, .medium {
  text-align: center;
}
.info {  
  h4 {
    background-color: #1d1d1d;
    transform:rotate(-4deg);
    padding: 20px;
    color: #f0f0f0;
    -webkit-transform:rotate(-4deg); /* Safari */
    font-family: Orator;
    background-image: url('filter.png');
    background-position: 0 0;
    background-repeat:  1/20px repeat;
    border: 1px solid black;
    text-align: center;
  }
  .info-content {
    margin: 0 auto;
    text-align: center;
  }
}