= link_to "Douchey Shirts", root_path, :class => 'brand'
%ul.nav
  %li
    %a Browse
  %li.divider-vertial
  %li 
    =link_to "Featured", root_path
  %li 
    =link_to "Sale", root_path
  %li 
    =link_to "New", root_path