= link_to "Douchey Shirts", root_path, :class => 'brand'
%ul.nav
  %li
    =link_to "Browse", browse_index_path
  %li.divider-vertial
  %li 
    =link_to "Featured", featured_path
  / %li 
  /   =link_to "Sale", root_path
  %li 
    =link_to "New", new_path
  -if current_user && current_user.admin = true
    %li=link_to "Admin", admin_root_path

= form_tag search_browse_index_path, :method => 'get', class: "form-search pull-right", style: 'padding-top: 5px; margin-bottom: 0;' do
  .input-append   
    = text_field_tag :query, params[:query], class: 'span2 search-query' 
    = submit_tag 'Search', class: 'btn'